body {
	background-color: #fff;
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
a {
	cursor: pointer;
}
#section .top-header {
	position: absolute;
	right: 30px;
}
.top-header ul {
	display: block;
	list-style: none;
	padding-right: 30px;
	right: 10px;
}
.top-header ul li {
	display: inline-block;
	padding-right: 15px;
}
.top-header a {
	text-decoration: none;
	font-size: 13px;
	line-height: 24px;
	color: #000;
}

.top-header .header-img img {
	width: 18px;
	margin: 0;
}
.top-header a:hover {
	text-decoration: underline;
	color: #333;
}
.top-header .header-signin a:hover {
	border-color: rgba(47, 90, 183, 0.842);
	background-color: rgba(53, 122, 232, 0.781);
}
.top-header .header-signin {
	background-color: #1a73e8;
	padding: 5px;
	border-radius: 2px;
}
.top-header .header-signin a {
	color: #fff;
	font-weight: bold;
}
/* to center the img and search bar in center */
#section .container {
	text-align: center;
}
.logo img {
	margin: auto;
	max-width: 50%;
}
.search-bar #searchbar {
	width: 484px;
	height: 40px;
	border: 1px #dfe1e5 solid;
	border-radius: 24px;
}
.search-bar img {
	width: 20px;
	margin-top: 11px;
	padding-top: 30px;
	top: 500px;
}
.search-bar .searchimg2 {
	width: 40px;
	margin: 0;
}
.container {
	width: 800px;
	margin: auto;
	/* background-color: #dadce0; */
}
.search-bar form {
	padding-bottom: 30px;
	margin-top: -50px;
}
.buttons label {
	padding: 10px 24px;
	border: 1px solid;
	border-radius: 4px;
}
.buttons .fl {
	color: #1a73e8;
	background-color: #fff;
	border-color: #dadce0;
}
.buttons .gs {
	color: #fff;
	background-color: #1a73e8;
}
#footermain {
	position: absolute;
	bottom: 0;
}
footer {
	background-color: #f2f2f2;
	position: relative;
	height: 80px;
	width: 100%;
}
footer ul {
	list-style: none;
	padding: 0;
}
footer li {
	float: left;
	padding-left: 27px;
}
footer .india {
	color: #5f6368;
	padding: 10px;
	margin: 0;
	padding-left: 27px;
}
footer li a {
	text-decoration: none;
	color: #5f6368;
	font-size: 13px;
}
footer li:nth-child(5) {
	float: right;
	padding-right: 27px;
}
footer li:nth-child(6) {
	float: right;
}
footer p {
	border: 1px solid #e4e4e4;
	padding-left: 27px;
	font-size: 13px;
}
